header {
    display: grid;
    width: 1100px;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 50px 0;
}

.logo__image {
    width: 148px;
    height: 105px;
}

.nav__link {
    cursor: pointer;
    font-size: 18px;
}

.nav__item:not(.nav__item_active) {
    list-style: circle;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.nav__item_active .nav__link {
    list-style: none;
    text-decoration: none;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav {
    width: 392px;
    height: 22px;
    margin-top: 40px;
    margin-bottom: 138px;
}

.address {
    max-width: 240px;
    justify-self: end;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-top: 3px;
}

.address__text {
    width: 237px;
}

.main {
    width: 1100px;
    margin: 0 auto;
}

.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    padding: 165px 50px 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover h1,
.cover .description {
    position: relative;
    z-index: 2;
    color: white;
}

.cover__title {
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 2;
    margin: 0;
}

.aligned-text {
    display: block;
    letter-spacing: 0.3em;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    padding-top: 20px;
    padding-left: 330.5px;
}

.aligned-text_right {
    padding-top: 20px;
    padding-left: 613px;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;
}

.cover__description-text {
    word-spacing: 19px;
    text-wrap: nowrap;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    font-size: 22px;
    font-weight: 400;
}

.cover__bet-button {
    background: transparent;
    cursor: pointer;

    height: 51px;
    font-style: normal;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 32px 11px 31px;
    border: 1px solid #fff;
    min-width: 257px;
}

.lots {
    margin: 180px 0 120px 0;
    width: 1100px;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 64px 27px;
}

.lots__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.lots__item {
    list-style: none;
    width: 334px;
    height: 596px;
}

.card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url("/images/card-lot-01.jpg");
    background-size: cover;
    background-position: center;
}

.card_type_book {
    background-image: url("/images/card-lot-02.jpg");
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url("/images/card-lot-03.jpg");
    background-size: cover;
    background-position: center;
}

.card__title {
    padding: 48px 40px 30px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    z-index: 2;
    line-height: 120%;
}

.card__text {
    padding: 0 40px 48px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    z-index: 2;
    line-height: 120%;
}

.lots__look-more-link {
    font-size: 20px;
    margin: 0 0 0 64px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    cursor: pointer;

}

.about {
    width: 1100px;
    padding: 0 24px 0;
    display: grid;
    grid-template-columns: 359px 1fr;
    margin-bottom: 180px;

}

.about__logo-background {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__logo {
    padding: 35px 0 0 47px;
}

.about__content {
    width: 693px;
    height: 449px;
    margin: 133px 0 13px 0;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 98px 0;
    text-transform: uppercase;
    padding-top: 3px;
}

.about__paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.paragraph_1 {
    padding-right: 5px;
    width: 688px;
    height: 120px;
    margin-bottom: 25px;
}

.paragraph_2 {
    width: 693px;
    height: 168px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.footer {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 1px 50px 82px;
    color: #000000;
}

.footer__address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
}

.address__link {
    color: #000000;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.tel {
    padding-left: 1.57px;
}

.address__text {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    margin: 0;
    padding-left: 1.1px ;
}

.footer .address__text {
    width: 265px;
    height: 98px;
}

.footer__menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-content: start;
    text-align: center;
}

.footer__menu-list-item {
    margin: 0;
}

.footer__menu-link {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link:not(.footer__menu-link_active) {
    text-decoration: underline;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-list-item {
    margin: 0;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}